@import "vars"
@import "fonts"
@import "libs"

::placeholder
    color: #666

::selection
    color: #fff

    background-color: $accent-color

body
    position: relative

    min-width: 320px
    overflow-x: hidden

    font-size: 14px
    line-height: 1.65
    font-family: $default-font
    color: $text

    input, textarea
        border: #666 1px solid
        outline: none
        &:focus:required:invalid
            border-color: red
        &:required:valid
            border-color: green

.img-responsive
    display: block
    max-width: 100%
    height: auto
    &.img-width
        width: 100%

.text-center
    text-align: center
.pd-0
    padding: 0
.mt-20
    margin-top: 20px
.mt-30
    margin-top: 30px

b, strong
    font-weight: bold

a.btn
    display: inline-block
    padding: 7px 40px

    font-size: 15px
    &--brd
        color: #199cdb

        background-color: none    
        border: 2px solid #199cdb
    &--radius
        border-radius: 20px        


.nav-container
    position: relative
    top: 0
    left: 0

    background-colot: #ffffff
    border-bottom: 1px solid #eaeaea
    .name-profile
        display: block
        h5
            position: relative

            font-size: 22px
        span
            position: relative
            top: -10px

            display: block

            font-size: 12px
            color: #999999


ul.nav-items
    display: inline-block
    padding: 0
    margin: 0
    li
        display: inline-block

        font-size: 13px
        text-transform: uppercase

        border-left: 1px solid #eaeaea
        border-right: 1px solid #eaeaea
        &:first-child
            border-right: none
        &:nth-child(2)
            border-right: none
        a
            position: relative
            left: 1px

            display: block
            padding: 22px 25px 20px

            font-weight: bold
            color: #333333

.about
    .block-about
        padding: 95px 50px 46px
        .about--grey1
        background-color: #f5f5f5
        .about--grey2
            background-color: #f0f0f0
        .title
            h2
                position: relative

                font-size: 21px
                &::before
                    content: ''

                    position: absolute
                    left: 0
                    top: -20px

                    width: 30px
                    height: 2px

                    background-color: #199cdb
            h5
                pdding-right: 15px
                
                font-size: 19px
                line-height: 28px
                font-weight: normal
                color: #333333

        ul.about-info
            list-style: none
            li
                line-height: 27px
                span
                    color: #333333
                    font-weight: bold



@import "media" // Always at the end

//**
//    Имена классов пишутся строчными буквами, используется дефис.

//    Объявления логически связанных свойств группируются в следующем порядке:
//        1. Позиционирование
//        2. Блочная модель
//        3. Типографика
//        4. Оформление
//        5. Анимация
//        6. Разное

//    Пример:
//        - Позиционирование
//            position: absolute
//            top: 0
//            right: 0
//            bottom: 0
//            left: 0
//            z-index: 100

//        - Блочная модель
//            display: block
//            float: right
//            width: 100px
//            height: 100px
//            margin: 10px
//            padding: 10px
//            overflow-x: hidden

//        - Типографика
//            font: normal 13px/1.5 "Arial", sans-serif
//            font-style: normal
//            font-size: 13px
//            line-height: 1.5
//            font-family: "Arial", sans-serif
//            text-align: center
//            color: #333333
//            text-transform: uppercase

//        - Оформление
//            background-color: #f5f5f5
//            border: 1px solid #e5e5e5
//            border-radius: 3px
//            outline: none
//            opacity: 1

//        - Анимация
//            transition: color 1s

//        - Разное
//            will-change: auto
// */