@import "vars"
@import "fonts"
@import "libs"

::placeholder
    color: #666

::selection
    color: #fff

    background-color: $accent-color

body
    position: relative

    min-width: 320px
    overflow-x: hidden

    font-size: 16px
    line-height: 1.65
    font-family: $default-font
    color: $text

    input, textarea
        width: 100%
        margin: 0 0 14px
        padding: 9px 15px

        font-size: 12px
        outline: none        
        &:focus:required:invalid
            border-color: red
        &:required:valid
            border-color: green

    ul, ol
        list-style: none
    a
        &:hover
            text-decoration: none
    .btn
        display: inline-block
        padding: 7px 40px

        font-size: 15px
    .btn-submit
        border: none
        cursor: pointer

    .btn_radius
        border-radius: 20px
    .btn_border
        color: $primary-color

        background-color: none
        border: 2px solid $primary-color
    .btn_fill
        color: #ffffff

        background-color: $primary-color

    .wrapper
        padding: 20px 0
    .wrapper_center
        text-align: center
        

.img-responsive
    display: block
    max-width: 100%
    height: auto
    &.img-width
        width: 100%

header.header-title
    font-size: 17px
    &::before
        content: ''

        position: absolute
        top: -2px
        left: 0

        width: 30px
        height: 2px

        background: $primary-color
.resume-container
    padding: 40px 0
    .resume
        margin-bottom: 30px
        .resume-wrapper
            position: relative
            
            padding: 70px 30px 46px

            border: 1px solid #eaeaea
            .resume__icon
                position: absolute
                right: 50px
                top: 50px
                i
                    font-size: 45px
                    color: #a8b1b6
            .resume__title
                position: relative
                top: -7px
                font-size: 19px
                &::before
                    content: ''
                    position: absolute
                    top: -15px
                    left: 0

                    width: 30px
                    height: 2px

                    background-color: $primary-color
            .timeline
                position: relative

                margin-top: 40px
                &::before
                    content: ''
                    
                    position: absolute
                    top: 0
                    bottom: 0
                    left: 1px
                    width: 1px
                    height: 100%

                    background: linear-gradient(to bottom, #eaeaea 1%, #eaeaea 75%, #ffffff 100%)
                .working,
                .edu
                    position: relative

                    margin-bottom: 10px
                    padding-top: 30px
                    padding-left: 30px
                    &::after
                        content: ''

                        position: absolute
                        top: 33px
                        left: -5px

                        width: 14px
                        height: 14px

                        text-align: center

                        background: $primary-color
                        border: 3px solid #ffffff
                        border-radius: 100%
                    .working__interval,
                    .edu__interval
                        font-size: 12px
                        color: #666666
                        .working_current
                            padding: 1px 12px

                            color: #ffffff

                            background: $primary-color
                            border-radius: 6px
            .skills
                margin-top: 40px
                ul
                    margin: 0
                    padding: 0
                    li
                        margin-bottom: 15px
                        h4
                            font-size: 13px
                        .skill-list__rating
                            margin-top: -6px
                            span
                                display: inline-block
                                width: 49px
                                height: 2px
                                margin-right: 5px

                                background-color: $primary-color
                            .skill-list_transparent
                                background-color: #888888
                                opacity: 0.1



.parfolio-container
    padding: 40px 0

    background-color: #f7f7f7

.blog-container
    padding: 40px 0
    .media
        img
            display: inline-block
            width: 100%
            height: 247px

            vertical-align: middle
    .details
        border: 1px solid #eaeaea
        .details__title
            padding-left: 20px
            padding-right: 20px
            padding-top: 15px
            padding-bottom: 15px

            font-size: 15px
            text-transform: uppercase

            border-bottom: 1px solid #eaeaea
            a
                color: $accent-color
    .details_latest
        padding-bottom: 20px
    .meta
        padding-left: 20px
        padding-top: 10px
        padding-bottom: 10px

        font-size: 13px
        text-align: center

        border-bottom: 1px solid #eaeaea
        li
            float: left
            margin-right: 15px
            a
                color: $text
        .meta__date
            display: inline-block
            padding: 2px 15px

            font-size: 10px
            color: #fff

            background: $primary-color none repeat scroll 0 0
            border-radius: 8px
        i
            font-size: 17px
            margin-right: 8px 
    .details__notice
        padding-left: 20px
        padding-right: 30px
        padding-bottom: 20px
        padding-top: 15px
    .details__more
        display: inline-block
        padding-left: 20px

        color: $primary-color


.contact-container
    padding: 40px 0

    background-color: #f7f7f7

    .contact-info__ico
        float: left
        span
            position: relative

            display: inline-block
            width: 40px
            margin-left: 20px
            margin-right: 40px

            font-size: 50px
            line-height: 52px
            text-align: center
            color: $primary-color
    .contact-details
        float: left
        max-width: 234px
        h5
            text-transform: uppercase
            color: $text

    .send-form
        padding: 100px 50px 80px
        margin-bottom: 80px

        background-color: $accent-color
        opacity: 0.9
        .send-form__input, 
        .send-form__textarea
            color: #fff
            
            background-color: rgba(255, 255, 255, 0.9)
            border: 1px solid $primary-color
        .btn-submit
            float: right

            width: 150px
            

.footer-container
    padding: 40px 0

    text-align: center
    ul.socials
        margin: 0 auto
        padding-bottom: 20px
        li
            display: inline
            margin-right: 15px
            margin-left: 15px

            color: $primary-color
            a
                color: $accent-color
                i
                    margin-right: 5px

                    font-size: 28px
                    color: #f0f0f0
                span
                    position: relative
                    top: -4px
                &:hover
                    color: $primary-color



@import "media" // Always at the end

//**
//    Имена классов пишутся строчными буквами, используется дефис.

//    Объявления логически связанных свойств группируются в следующем порядке:
//        1. Позиционирование
//        2. Блочная модель
//        3. Типографика
//        4. Оформление
//        5. Анимация
//        6. Разное

//    Пример:
//        - Позиционирование
//            position: absolute
//            top: 0
//            right: 0
//            bottom: 0
//            left: 0
//            z-index: 100

//        - Блочная модель
//            display: block
//            float: right
//            width: 100px
//            height: 100px
//            margin: 10px
//            padding: 10px
//            overflow-x: hidden

//        - Типографика
//            font: normal 13px/1.5 "Arial", sans-serif
//            font-style: normal
//            font-size: 13px
//            line-height: 1.5
//            font-family: "Arial", sans-serif
//            text-align: center
//            color: #333333
//            text-transform: uppercase

//        - Оформление
//            background-color: #f5f5f5
//            border: 1px solid #e5e5e5
//            border-radius: 3px
//            outline: none
//            opacity: 1

//        - Анимация
//            transition: color 1s

//        - Разное
//            will-change: auto
// */